.board {
    display: flex;
    .row {
        .node {
            width: 20px;
            height: 20px;
            border: 2px solid saddlebrown;
            margin: 2px;

            &.start {
                background-color: wheat;
            }

            &.finish {
                background-color: aqua;
            }

            &.searched {
                background-color: gray;
            }
        }
    }
}
